@mixin button($color: green) {
    height: 30px;
    min-width: 30px;
    display: inline-block;
    text-align: center;
    padding: 3px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: relative;

    & span {
        font-size: 27px;
    }

    &:hover {
        background-color: $border-color;
    }

    &:active,
    &.active {
        color: $color;
    }
}