@import "./mixins";
@import "./variables";

.excel__toobal {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    display: flex;
    align-items: center;
    height: $toolbar-height;
    padding: 0 15px;

    .button {
        margin-right: 10px;
        @include button(green)
    }
}